<div class="no-items" *ngIf="products.products.length === 0">
  <p>
    Ihr Warenkorb ist leer. Bitte platzieren Sie erst Produkte in den Warenkorb!
  </p>
</div>
<div *ngIf="products.products.length > 0">
  <mat-table [dataSource]="products.products">
    <ng-container matColumnDef="amount">
      <mat-header-cell *matHeaderCellDef>Anzahl</mat-header-cell>
      <mat-cell *matCellDef="let item">
        <button mat-icon-button color="warn" (click)="reduceAmount(item)">
          <mat-icon>remove_circle</mat-icon>
        </button>

        <input matInput
               [value]="item.amount"
               type="number"
               class="amount-input"
               (change)="onChange(item, $event.target)"
               min="1"

        />

        <button mat-icon-button color="warn" (click)="increaseAmount(item)">
          <mat-icon>add_circle</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="identifier">
      <mat-header-cell *matHeaderCellDef>Artikelnummer</mat-header-cell>
      <mat-cell *matCellDef="let item">{{item.product.identifier}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef>Beschreibung</mat-header-cell>
      <mat-cell *matCellDef="let item">{{item.product.description}}</mat-cell>
      <mat-footer-cell *matFooterCellDef>Gesamtsumme</mat-footer-cell>
    </ng-container>

    <ng-container matColumnDef="price">
      <mat-header-cell *matHeaderCellDef>Preis</mat-header-cell>
      <mat-cell *matCellDef="let item">
        <app-euro-display [value]="item.product.price"></app-euro-display>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="item_total">
      <mat-header-cell *matHeaderCellDef>Summe</mat-header-cell>
      <mat-cell *matCellDef="let item">
        <app-euro-display [value]="getTotalItemCost(item)"></app-euro-display>
      </mat-cell>
      <mat-footer-cell *matFooterCellDef>
        <app-euro-display [value]="getTotalCost()"></app-euro-display>
      </mat-footer-cell>
    </ng-container>

    <ng-container matColumnDef="delete-button">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let item">
        <div class="flex-row space-between">
          <button mat-icon-button color="warn" (click)="deleteItem(item)">
            <mat-icon>delete</mat-icon>
          </button>
          <!--
          <app-button label="🛒" (notify)="onNotify(product)"></app-button>
          -->
        </div>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columnsToDisplay"></mat-row>
    <mat-footer-row *matFooterRowDef="columnsToDisplayTotal"></mat-footer-row>
  </mat-table>
</div>

