<mat-table class="menu-category-overview-table" [dataSource]="products">
  <ng-container matColumnDef="identifier">
    <mat-header-cell *matHeaderCellDef>#</mat-header-cell>
    <mat-cell *matCellDef="let product">{{product.identifier}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="description">
    <mat-header-cell *matHeaderCellDef>Beschreibung</mat-header-cell>
    <mat-cell class="bold" *matCellDef="let product">{{product.description}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="price">
    <mat-header-cell *matHeaderCellDef>Preis</mat-header-cell>
    <mat-cell *matCellDef="let product">
      <app-euro-display [value]="product.price"></app-euro-display>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="buy-button">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let product">
      <div class="flex-row space-between">
        <button mat-icon-button color="primary" (click)="onOrder(product)">
          <mat-icon >shopping_cart</mat-icon>
        </button>
        <!--
        <app-button label="🛒" (notify)="onNotify(product)"></app-button>
        -->
      </div>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
  <mat-row *matRowDef="let row; columns: columnsToDisplay"></mat-row>
</mat-table>
